<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <h2>CONTACT</h2>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        <% contact.forEach(element => {%>
        <tr>
            <td><%=element.id%></td>
            <td><%=element.name%></td>
            <td><%=element.company%></td>
            <td><%=element.phone%></td>
            <td><%=element.email%></td>
        </tr>
        <form action="" method="POST">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </form>
        <%})%>
    </table>
</body>
</html>